* {
  margin: 0;
  padding: 0;
}

.buttonDelete {
  background: 0;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  margin: 5px 0 0 180px;
}

.cardForm {
  background-color: #f81;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 100px;
  padding: 10px;
  width: 400px;
}

/* formulário da carta e da pre-visualização */
.cardMontage {
  background-color: #9dd9d2;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  max-width: auto;
  padding: 20px;
}

.cardPreview {
  align-items: center;
  background: linear-gradient(227deg , rgba(57, 47, 90, 1) 50% , rgba(244, 208, 111, 1) 50%);
  border: solid rgb(57, 47, 90);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 400px;
}

.cardSavedSection {
  background-color: #f81;
  margin: 0;
}

.cardSavedLi {
  margin: 20px;
}

.cardSavedUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-Trunfo {
  display: flex;
  margin: 10px 0;
}

.checkbox-Trunfo input {
  margin-left: 10px;
}

.checkbox-trunfoFilter {
  display: flex;
  margin: 10px 0;
}

.checkbox-trunfoFilter input {
  margin-left: 10px;
}

.descriptionCard {
  margin: 10px;
  padding: 10px;
  text-align: justify;
  word-break: break-word;
}

.filterDiv {
  background-color: #f81;
  color: black;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  padding: 30px;
}

.filterPart {
  border: solid #392f5a;
}

.gradesUl {
  margin: 10px 10px 0 0;
  padding: 10px;
  width: 65%;
}

.imageCard {
  border: white solid;
  color: #fff8f0;
  height: 168px;
  width: 75%;
}

.input-cardName {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardName input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardDescription {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardDescription textarea {
  border: none;
  margin-top: 10px;
  padding: 10px;
  resize: none;
}

.input-cardAttr1 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardAttr1 input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardAttr2 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardAttr2 input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardAttr3 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardAttr3 input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardImage {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardImage input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardRare {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardRare select {
  margin-top: 10px;
  padding: 5px;
}

.input-nameFilter {
  display: flex;
  margin: 10px 0;
}

.input-nameFilter input {
  border: 1px solid;
  margin-left: 10px;
  padding: 5px;
}

.input-rareFilter {
  display: flex;
  margin: 10px 0;
}

.input-rareFilter select {
  background-color: white;
  border: 1px solid;
  margin-left: 10px;
  padding: 5px;
}

li {
  list-style: none;
}

.nameCard {
  color: #fff8f0;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.preview {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.previewPUl {
  background-color: rgba(255, 135, 17, 0.3) ;
  border: white solid;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0;
  padding: 10px;
  width: 70%;
}

.previewTitulo {
  color: #fff8f0;
  font-size: 30px;
  margin-bottom: 20px;
}

.saveButton:enabled {
  background-color: #f4d06f;
  border: 0;
  border-radius: 5px;
  color: #392f5a;
  cursor: pointer;
  font-size: medium;
  font-weight: 900;
  padding: 7px;
}

.saveButton:disabled {
  background-color: white;
  border-radius: 5px;
  color: #392f5a;
  font-size: medium;
  font-weight: 900;
  padding: 7px;
}

.superiorPage {
  background: #9dd9d2;
  padding-top: 1px;
}

.superTrunfo {
  margin: 10px;
  padding: 10px;
}

.superTrunfoNao {
  margin: 10px;
  padding: 20px;
}

.tryunfo {
  color: #392f5a;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-size: 50px;
  font-style: oblique;
  font-weight: 1000;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}

.typeRare {
  background: #392f5a;
  border: white solid;
  color: #fff8f0;
  margin: 0 10px 25px;
  padding: 10px;
  text-align: center;
  width: 70%;
}
