* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

.cardMontage {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  max-width: auto;
}

.cardForm {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 10px;
}

.input-cardName {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardName input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardDescription {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardDescription textarea {
  border: none;
  margin-top: 10px;
  padding: 10px;
  resize: none;
}

.input-cardAttr1 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardAttr1 input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardAttr2 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardAttr2 input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardAttr3 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardAttr3 input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardImage {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardImage input {
  border: none;
  margin-top: 10px;
  padding: 10px;
}

.input-cardRare {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-cardRare select {
  margin-top: 10px;
  padding: 5px;
}

.checkbox-Trunfo {
  display: flex;
  margin: 10px 0;
}

.checkbox-Trunfo input {
  margin-left: 10px;
}

.saveButton:enabled {
  background-color: #67bba0;
  border-color: #67bba0;
  border-radius: 5px;
  color: #feebcc;
  cursor: pointer;
  font-size: medium;
  font-weight: 900;
  padding: 7px;
}

.saveButton:disabled {
  background-color: white;
  border-radius: 5px;
  color: #67bba0;
  font-size: medium;
  font-weight: 900;
  padding: 7px;
}

.input-nameFilter {
  display: flex;
  margin: 10px 0;
}

.input-nameFilter input {
  border: 1px solid;
  margin-left: 10px;
  padding: 5px;
}

.input-rareFilter {
  display: flex;
  margin: 10px 0;
}

.input-rareFilter select {
  background-color: white;
  border: 1px solid;
  margin-left: 10px;
  padding: 5px;
}

.checkbox-trunfoFilter {
  display: flex;
  margin: 10px 0;
}

.checkbox-trunfoFilter input {
  margin-left: 10px;
}

.cardPreview {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
